.event--form {
  padding: 2rem 4rem;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #0f172a;
  color: #cbd5e1;
  border: 2px solid;
}

.form--input--description {
  background: #0f172a;
  color: #cbd5e1;
  border: 2px solid;
}

.event--form > * {
  margin-bottom: 1rem;
  width: 100%;
}

.event--form > input {
  background: #0f172a;
  color: #cbd5e1;
  border: 2px solid;
}

.select--date {
  background: #0f172a;
  color: #cbd5e1;
}

.btn--group {
  /* width: 100%; */
  /* border: 2px solid white; */
  display: flex;
  justify-content: space-evenly;
}

.btn--group > * {
  border-radius: 5px;
  border: none;
  padding: 0.3rem 1rem;
  transition: transform 0.3s linear;
}
.btn--create {
  background-color: #6d28d9;
  color: whitesmoke;
}

.btn--create:active {
  transform: scale(0.93);
}

.btn--cancel {
  background-color: #0f172a;
  color: whitesmoke;
  border: 1px solid;
  opacity: 0.3;
}

.btn--cancel:active {
  transform: scale(0.93);
}
.color--group--container {
  display: flex;
  justify-content: space-evenly;
}

.color--item {
  height: 25px;
  width: 25px;
  border: 2px solid;
  /* background-color: white; */
}

.color--item--rose {
  background-color: #fda4af;
}

.color--item--blue {
  background-color: #60a5fa;
}

.color--item--yellow {
  background-color: #fcd34d;
}

.color--item--teal {
  background-color: #5eead4;
}
/* .color--group--container > label {
  content: "";
  height: 25px;
  width: 25px;
  border: 2px solid;
  background-color: white;
} */
input[type="radio"] {
  display: none;
}
