*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Inder", sans-serif;
  background: #0f172a;
  color: #cbd5e1;
  height: 100vh;
}
#root,
#__next {
  isolation: isolate;
}

.calendar--container {
  border: 2px solid;
  margin: 0.5rem 3rem;
  border-radius: 5px;
  position: relative;
}
